<%- include('header-login') %>


<div class="jumbotron centered">
    <div class="container">
        <img src="images/search-data.png" alt="" height="150" width="150">
        <h1 class="display-3">DAM</h1>
        <!-- <p class="lead">A damm good database analysis tool</p> -->
        <hr>
        <a class="btn btn-dark btn-lg" href="/logout" role="button">Logout</a> 
        <br>   
        <p class="alert alert-warning mt-2">Contact your admin to get your account approved.</p>
    </div>
</div>

<%- include('footer-login') %>