
<%- include("header"); -%>
<div class="container-fluid">
    <!-- <h3 style="text-align: center;">Work In Progress</h3> -->
    <img class="mx-auto d-block" title="work in progress" src="/images/wip2.png" alt="work in progress">
</div>
<%- include("footer"); -%>